<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Group_Suite">
  <test thread-count="5" name="Group_Test">
	<groups>
		<run>
			<include name="Sanity"></include>
			<exclude name="Skip"></exclude>
		</run>
	</groups>
    <classes>
      <class name="testCases.CheckOut_Step_Two_Page_Test"/>
      <class name="testCases.LoginPage_Test"/>
      <class name="testCases.Inventory_Page_Test"/>
    </classes>
  </test> <!-- Group_Test -->
</suite> <!-- Group_Suite -->
