<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="2_classesSuite">
  <test thread-count="5" name="All_SuitTest">
    <classes>
      <class name="testcases.nventory_Page2_Test"/>
      <class name="testcases.LoginPage2_Test"/>
    </classes>
  </test> <!-- All_SuitTest -->
</suite> <!-- 2_classesSuite -->
